:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --border-color: #EFEFEF;
}

*{
    box-sizing: inherit;   
}

html{
    /* 100% ~ 16px 
       62.5% ~ 10px*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;     /* chủng các chủng font ko có chân*/
    box-sizing: border-box;
}


/* reponsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    width: 440px;
    height: 429px;
    margin: auto;
    position: relative;
    z-index: 1;
    /* giúp nổi lên trên*/
    border-radius: 5%;
}

/* Button style */

.btn{
    min-width: 142px;
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);

}

.btn--back{
    margin-right: 8px;
}

.btn--size-s {
    height: 24px;
    font-size: 12px;
    padding: 0 8px;
}